*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden  ;
}


.form-control-primary {
  margin: 10px;
  opacity: 0.2;
  border-radius: 2px;
}
.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
  padding: 70px 0 0 10px;
  border-right: 1px solid #d1b5b5;
}

.left-sidebar {
  position: sticky;
  top: 0;
  height: calc(100vh - 70px);
}

.sidebar-nav li .nav-link {
  color: #92b3d6;
  font-weight: 500;
}
.main {
  padding-top: 90px;
}

body {
  background-color: #202020;
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}

.navbar-dark .navbar-brand {
  color: #fff;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.offcanvas-body a {
  gap: 10px;
  display: flex;
}
.offcanvas-body span,
a {
  color: #fff !important;
}
.offcanvas-dark {
  height: 100vh;
  background: #cee2f5;
}
body {
  background: #c3e0f5 !important;
}

.app-main__outer {
  background: #c3e0f5 !important;
  width : 75vw;
  margin-left: 70px;
  margin-top: 100px;
  display: flex;
    flex-direction: column;
    align-items: center;
  overflow-x: hidden;
}
.app-main__outer .app-main__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}